{% load static %}

<section id="event-expertise-section" class="event-expertise-section bg-gray-light sec-ptb-100 clearfix">
    <div class="container">

        <!-- section-title - start -->
        <div class="section-title text-center mb-50">
            <small class="sub-title">our services</small>
            <h2 class="big-title">Asian Adept <strong>Expertise</strong></h2>
        </div>
        <!-- section-title - end -->

        <!-- event-expertise-carousel - start -->
        <div id="event-expertise-carousel" class="event-expertise-carousel owl-carousel owl-theme">

            <!-- expertise-item - start -->
            <div class="item">
                <div class="expertise-item">
                    <div class="image image-wrapper">
                        <img src="{% static 'assets/images/services/wed.jpg' %}" alt="Image_not_found">
                        <a href="#!" class="plus-effect"></a>
                    </div>
                    <div class="content">
                        <h3 class="title">Social Events</h3>
                        <p>Start from <strong>30,000 - 50,000</strong></p>
                        <a href="social_service.html" class="custom-btn">Know More</a>
                    </div>
                </div>
            </div>
            <!-- expertise-item - end -->

            <!-- expertise-item - start -->
            <div class="item">
                <div class="expertise-item">
                    <div class="image image-wrapper">
                        <img src="{% static 'assets/images/services/mus.jpg' %}" alt="Image_not_found">
                        <a href="#!" class="plus-effect"></a>
                    </div>
                    <div class="content">
                        <h3 class="title">Exhibitions</h3>
                        <p>Start from <strong>50,000 - 80,000</strong></p>
                        <a href="exhibition_service.html" class="custom-btn">Know More</a>
                    </div>
                </div>
            </div>
            <!-- expertise-item - end -->

            <!-- expertise-item - start -->
            <div class="item">
                <div class="expertise-item">
                    <div class="image image-wrapper">
                        <img src="{% static 'assets/images/services/party.jpg' %}" alt="Image_not_found">
                        <a href="#!" class="plus-effect"></a>
                    </div>
                    <div class="content">
                        <h3 class="title">Events Services</h3>
                        <p>Start from <strong>30,000 - 50,000</strong></p>
                        <a href="event_service.html" class="custom-btn">Know More</a>
                    </div>
                </div>
            </div>
            <!-- expertise-item - end -->

            <!-- expertise-item - start -->
            <div class="item">
                <div class="expertise-item">
                    <div class="image image-wrapper">
                        <img src="{% static 'assets/images/services/team.jpg' %}" alt="Image_not_found">
                        <a href="#!" class="plus-effect"></a>
                    </div>
                    <div class="content">
                        <h3 class="title">Corporate Events</h3>
                        <p>Start from <strong>10,000-20,000</strong></p>
                        <a href="corporate_service.html" class="custom-btn">Know More</a>
                    </div>
                </div>
            </div>
            <!-- expertise-item - end -->

        </div>
        <!-- event-expertise-carousel - end -->

    </div>
</section>