{% load static %}

<section id="testimonial5-section" class="testimonial5-section sec-ptb-100 clearfix" style="background-color: #f7f7f7;">
    <div class="container">
        <!-- testimonial5-carousel - start -->
        <div id="testimonial5-carousel" class="testimonial5-carousel sr-fade2 owl-carousel owl-theme">

            {% for test in testimonial %}
            <div class="item text-center">
                <span class="quote-icon">
                    <i class="fas fa-quote-right"></i>
                </span>
                <p class="clients-comment">
                    “{{ test.review }}”
                </p>
                <div class="client-info">
                    <h3 class="client-name">{{ test.role }}</h3>
                    <span class="client-sub-title">{{ test.name }}</span>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- testimonial5-carousel - end -->

    </div>
</section>