{% extends 'partials/base.html' %}
{% load static %}

{% block index %}

<div class="main-page">
    <br>
    <h2 class="dsc-heading text-center" style="font-weight: 700;">Welcome to Digital Signature App</h2>
    <p class="lead text-center">Securely sign your PDF, XML, JSON, and Text files</p>
    {% if user.is_authenticated %}
    <div class="col-md-12 dsc-file-form">
        <div class="container">
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                
                <div class="custom-file mb-3">
                    <input required type="file" class="custom-file-input" id="customFile" name="file" multiple>
                </div>
                
                <div class="col-md-12 text-center my-3">
                    <div class="d-flex align-items-center">
                        <hr class="flex-grow-1" style="border-top: 1px solid var(--accent);">
                        <span style="color: var(--accent);" class="mx-2">Or</span>
                        <hr class="flex-grow-1" style="border-top: 1px solid var(--accent);">
                    </div>
                </div>
                
                <div class="custom-file mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">Input Link</span>
                        {{ form.url }}
                    </div>
                    <div class="form-text" id="basic-addon4">Link should be accessible</div>
                </div>
                
                <div class="uploaded-files">
                    <p id="uploadedFileName"></p>
                </div>
                
                <div class="custom-file">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Signing Reason</label>
                        {{ form.signing_reason }}
                    </div>
                </div>
                
                <div class="custom-file">
                    <div class="form-check form-check-inline">
                        {{ form.visible_signature }}
                        <label class="form-check-label" for="inlineCheckbox1">Visible Signature</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form.split_large_files }}
                        <label class="form-check-label" for="inlineCheckbox2">Split large files</label>
                    </div>
                </div>
                <br>
                
                <div class="dsc-form-btns">
                    <button type="submit" class="btn btn-primary">Upload</button>
                    <button type="reset" class="btn btn-secondary" id="clearButton">Clear</button>
                </div>
            </form>

        </div>
    </div>
    {% endif %}
    <br>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#customFile').on('change', function () {
            var fileNames = '';
            for (var i = 0; i < this.files.length; i++) {
                fileNames += '<li class="list-group-item d-flex justify-content-between align-items-center">' + this.files[i].name + '<span class="badge text-bg-success rounded-pill"><i class="fa-solid fa-check"></i></span>' + '</li>';
            }
            $('#uploadedFileName').html('<ul class="list-group">' + fileNames + '</ul>');
        });

        $('#clearButton').on('click', function () {
            $('#uploadedFileName').empty();
            $('#customFile').val('');
            $('.custom-file-label').text('Choose files');
            $('#basic-url').prop('disabled', false);
            $('#customFile').prop('disabled', false);
        });

        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
        });

        const fileInput = document.getElementById('customFile');
        const urlInput = document.getElementById('basic-url');

        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                urlInput.disabled = true;
            } else {
                urlInput.disabled = false;
            }
        });

        urlInput.addEventListener('input', function () {
            if (urlInput.value.trim() !== "") {
                fileInput.disabled = true;
            } else {
                fileInput.disabled = false;
            }
        });
    });
</script>

{% endblock index %}
