{% load static %}

<section id="service-section" class="service-section sec-ptb-100 clearfix" style="box-shadow: none !important;">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mb-50 sr-fade1">
                    <span class="line-style"></span>
                    <small class="sub-title">why choose us</small>
                    <h2 class="big-title">Asian Adept <strong>Advantages</strong></h2>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="team-btn text-right sr-fade2">
                    <a href="team.html" class="custom-btn">meet the team</a>
                </div>
            </div>
        </div>

        <div class="service-wrapper sr-fade1">
            <ul>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-handshake"></i>
                        </span>
                        <strong class="service-title">friendly team</strong>
                        <small class="service-sub-title">More than 200 teams</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-cheers"></i>
                        </span>
                        <strong class="service-title">Unique Scenario</strong>
                        <small class="service-sub-title">we thinking out of the box</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-two-balloons"></i>
                        </span>
                        <strong class="service-title">perfect venues</strong>
                        <small class="service-sub-title">perfect venues</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-speech-bubble"></i>
                        </span>
                        <strong class="service-title">24/7 hours support</strong>
                        <small class="service-sub-title">anitime anywhere</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-clown-hat"></i>
                        </span>
                        <strong class="service-title">Unforgetable Times</strong>
                        <small class="service-sub-title">More than 200 teams</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-light-bulb"></i>
                        </span>
                        <strong class="service-title">Briliant Idea</strong>
                        <small class="service-sub-title">We thinking out of the box</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-event-date-and-time-symbol"></i>
                        </span>
                        <strong class="service-title">Unique Scenario</strong>
                        <small class="service-sub-title">perfact venues</small>
                    </a>
                </li>

                <li>
                    <a href="#!">
                        <span class="icon">
                            <i class="flaticon-group"></i>
                        </span>
                        <strong class="service-title">Best Management</strong>
                        <small class="service-sub-title">anytime anywhere</small>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</section>