{% load static %}


<!-- service-type-list -->
<div class="service-type-list mb-4 pt-3">
    <h3 class="text-uppercase font-weight-bold mt-4 pt-3">Our Corporate Event Offerings:</h3>
    <ul class="list-unstyled row mt-3">
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Conferences
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Seminars
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Workshops
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Product Launches
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Trade Shows
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Expo and Exhibitions
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Networking Events
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Team-Building Events
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Corporate Retreats
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Award Ceremonies
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Corporate Galas
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Board Meetings
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Corporate Celebrations
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Fundraisers
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Press Conferences
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            Incentive Trips
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
        <li class="col-md-6 mb-2">
            <span class="icon mr-2">
                <i class="fas fa-arrow-circle-right text-primary"></i>
            </span>
            MICE Events
            <a href="" style="color: #d24243;text-decoration: underline;cursor: pointer;">View Gallery</a>
        </li>
    </ul>
</div>
<!-- service-wrapper - end -->