{% load static %}
<style>
.grid-item {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-bottom: 15px;
}
.grid-item img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.popup-link {
    display: block;
    position: relative;
}

@media (max-width: 768px) {
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid-item {
        width: 48%;
        margin-right: 4%;
    }
    .grid-item:nth-child(2n) {
        margin-right: 0; 
    }
}

@media (min-width: 1024px) {
    .grid-item {
        width: 30%;
        margin-right: 3%;
    }
    .grid-item:nth-child(3n) {
        margin-right: 0; 
    }
}

</style>
<div class="container mt-5 mb-5">
    <h1 class="text-left mb-4">{{ social_service.name }}</h1>

    {% if all_subcategories %}
    <div class="row">
        {% for subcategory in all_subcategories %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-lg border-light rounded"
                style="transition: transform 0.3s ease, box-shadow 0.3s ease;">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h5 class="card-title font-weight-bold" style="color: #d24243;">{{ subcategory.name }}</h5>

                    {% if subcategory.images.all %}
                    <div class="initial-image mb-3" style="height: 200px; overflow: hidden; position: relative;">
                        <img src="{{ subcategory.images.first.image.url }}" class="img-thumbnail img-fluid rounded"
                            alt="{{ subcategory.name }}"
                            style="object-fit: cover; height: 100%; width: 100%; cursor: pointer;"
                            onclick="openImageModal({{ subcategory.id }})">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <h4>Their No photos to show for {{ social_service.name }}</h4>
    </div>
    {% endif %}

</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ social_service.name }} Images</h5>
                <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section id="event-gallery-section" class="event-gallery-section p-0 m-0 clearfix">
                <div class="grid zoom-gallery clearfix" id="imageModalContent"
                    data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }"></div>
                    </section>
                <!-- Container for images -->
            </div>
            
        </div>
    </div>
</div>

<script>
  const subcategoriesImages = JSON.parse('{{ subcategories_images|escapejs }}');

function openImageModal(subcategoryId) {
    const subcategory = subcategoriesImages.find(sub => sub.subcategory_id === subcategoryId);

    let modalContent = '';
    subcategory.images.forEach(image => {
        modalContent += `
            <div class="grid-item photo-gallery" data-category="photo-gallery">
                <a class="popup-link" href="${image.image_url}">
                    <img class="card-img-top img-fluid rounded" src="${image.image_url}" alt="Image_not_found">
                </a>
            </div>
        `;
    });

    document.getElementById("imageModalContent").innerHTML = modalContent;

    const imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
    imageModal.show();

    // Add event listener to close modal when clicking inside grid-item
    document.getElementById("imageModalContent").addEventListener("click", function() {
        imageModal.hide();
    });
}

</script>