{% load static %}

<section id="event-gallery-section" class="event-gallery-section sec-ptb-100 clearfix"
    style="box-shadow: 0 0 50px 70px #f7f7f7;position: relative;">
    <div class="container">

        <div class="button-group filters-button-group mb-30">
            <button class="button is-checked" data-filter="*">
                <i class="fas fa-star"></i>
                <strong>all</strong> gallery
            </button>
            <button class="button" data-filter=".video-gallery">
                <i class="fas fa-play-circle"></i>
                <strong>video</strong> gallery
            </button>
            <button class="button" data-filter=".photo-gallery">
                <i class="far fa-image"></i>
                <strong>photo</strong> gallery
            </button>
        </div>

        <div class="grid zoom-gallery clearfix mb-80"
            data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
            <div class="grid-item  photo-gallery " data-category="photo-gallery">
                <a class="popup-link" href="assets/images/gallery/gal2.jpg">
                    <img src="{% static 'assets/images/gallery/gal2.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>Wedding day</h3>
                    <span>Wedding Party</span>
                </div>
            </div>
            <div class="grid-item video-gallery " data-category="video-gallery">
                <a class="popup-youtube" href="https://youtu.be/rD3e6avEOKc?si=I3ye77PP7vTsdyuN">
                    <img src="{% static 'assets/images/gallery/gal1.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>Business Conference in Dubai</h3>
                    <span>Food Festival, 24 June 2016</span>
                </div>
            </div>
            <div class="grid-item photo-gallery " data-category="photo-gallery">
                <a class="popup-link" href="assets/images/gallery/gal3.jpg">
                    <img src="{% static 'assets/images/gallery/gal3.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>Envato Author Fun Hiking</h3>
                    <span>Food Festival, 24 June 2016</span>
                </div>
            </div>

            <div class="grid-item photo-gallery " data-category="photo-gallery">
                <a class="popup-link" href="assets/images/gallery/gal4.jpg">
                    <img src="{% static 'assets/images/gallery/gal4.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>John Doe Wedding day</h3>
                    <span>Wedding Party, 24 June 2016</span>
                </div>
            </div>
            <div class="grid-item video-gallery " data-category="video-gallery">
                <a class="popup-youtube" href="https://youtu.be/-haiaZ011OM">
                    <img src="{% static 'assets/images/gallery/gal7.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>New Year Celebration</h3>
                    <span>Food Festival, 24 June 2016</span>
                </div>
            </div>

            <div class="grid-item photo-gallery " data-category="photo-gallery">
                <a class="popup-link" href="assets/images/gallery/ga5l.jpg">
                    <img src="{% static 'assets/images/gallery/ga5l.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>John Doe Wedding day</h3>
                    <span>Wedding Party, 24 June 2016</span>
                </div>
            </div>
            <div class="grid-item video-gallery " data-category="video-gallery">
                <a class="popup-youtube" href="https://youtu.be/-haiaZ011OM">
                    <img src="{% static 'assets/images/gallery/gal8.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>New Year Celebration</h3>
                    <span>Food Festival, 24 June 2016</span>
                </div>
            </div>
            <div class="grid-item photo-gallery " data-category="photo-gallery">
                <a class="popup-link" href="assets/images/gallery/gal6.jpg">
                    <img src="{% static 'assets/images/gallery/gal6.jpg' %}" alt="Image_not_found">
                </a>
                <div class="item-content">
                    <h3>Envato Author Fun Hiking</h3>
                    <span>Food Festival, 24 June 2016</span>
                </div>
            </div>
        </div>

    </div>
</section>