{% load static %}

<section id="map-section" class="map-section clearfix">
    <div class="address-wrapper">

        <!-- address-info-topbar - start -->
        <div class="address-info-topbar mb-30 clearfix">
            <div class="address-info-left">
                <h3 class="title-text">Asian Adept event management</h3>
                <p class="m-0">
                    Apple Store, 112 Prince St New York,
                    NY 10012, United States 80361,
                    United States
                </p>
            </div>

            <div class="address-info-right">
                <ul>
                    <li>
                        <button type="button">
                            <span class="icon"><i class="fas fa-street-view"></i></span>
                            <small>Direction</small>
                        </button>
                    </li>
                    <li>
                        <button type="button">
                            <span class="icon"><i class="fas fa-rss"></i></span>
                            <small>Save</small>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- address-info-topbar - end -->

        <!-- address-info-bottombar - start -->
        <div class="address-info-bottombar clearfix">
            <div class="address-info-left">
                <div class="rating-star">
                    <span class="rating-point">4.5</span>
                    <ul>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star-half"></i></li>
                    </ul>
                </div>
                <p class="m-0">105 reviews</p>
            </div>

            <div class="address-info-right">
                <button type="button" class="map-larger-btn">
                    view larger map
                </button>
            </div>
        </div>
        <!-- address-info-bottombar - end -->

    </div>
    <div id="google-map">
        <div id="googleMaps" class="google-map-container"></div>
    </div>
</section>